<style type="text/css">
* {}

body {
    font-family: Verdana, sans-serif;
    font-size: 1.2vw;
    color: #202020;
    background-color:  #fff8dc ;  /* Moleskine like color */
    margin:20px;
    padding:5px;
    
}

</style>
