<style type="text/css">
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    line-height:1.2; 
    color: ##8B0000;  /* Dark Red */
    background-color:  #ffd980 ;  /* Light Parchment yellow */
/*     background-color: #FFAA00; */ /* Dark  parchment color */
    margin:0;
    
}

/* New - test this */
pre {
/*    overflow: auto; */
/*    white-space: pre-wrap; */
}

p {
    width: 100%; /* was 80% */
    font-size:120%;
    line-height:1.2;
}


/* remove default padding */

ul {
    padding: 0;
    margin: 0;
}


li {
    display: block;
    position: relative;
    list-style-type: none; 
    line-height: 150%; 
}

li a {
    display: block; 
    text-align: left;
    padding: 0px 0px; 
    /*    padding: 14px 16px; */
    text-decoration: none;
}


ul ul {
    /* This affects the toc entries XXX */
/*    position: relative; */
    display: block;  
    padding: 2px 16px; /* Top padding - 2, left padding 16 */
    left: 0 ;
    top: 100%;
}


li:hover ul {
    display: block;
}


ul ul ul {
    left: 100%;
    padding: 2px 16px; /* Top padding - 2, left padding 16 */
    top: 0;
}

li:hover > ul {
    display: block;
    color: rgb(0, 96, 255);
    padding-bottom: 5px;
    font-weight: bold;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #C6EC8C;
}

a:active {
    color: rgb(255, 0, 102);
    font-weight: bold;
}

h1 {
    /*            text-align: center; */
    border-bottom: 2px solid #009;
/*    margin-bottom: 50px; */
}

/* Horizontal line - let's define it */
.hline { width:100%; height:1px; background: #fff }


/* CSS rules for centerDoc */


#wrap { 
/*        width: 900px;  */
        width: 95%;
        margin: 0 auto; 
        
        }

/* I have two main sections - navigation, and centerdoc 
   * make the navigation 2% and centerdoc 92% and see how that goes
   */
#navigation {
              position: absolute;
              width: 2%;
              height: 100%; 
              margin: 0;
              margin-top: 75px;
              border-right: 4px solid #964B00;
              font-weight: normal;
              border-style:solid;
              border-width:5px;
              border:2px solid;
              border-radius:25px;  /* only with css3 */
              box-shadow: 10px 10px 5px #964B00;
              overflow: scroll;
              }

#centerDoc { /* This is an ID, not a class */
    position: absolute;
    margin-top: 50px;
    margin-left: 5%; 
    width: inherit;
    padding-left: 15px;
    border:1px solid #333;
    background-color: #EEE8AA;

    
}

    
/* CSS rules for responsive navigation menu */
/* ========================================== */

.darrow {
    font-size: 11pt;
    position: absolute;
    top: 5px;
    right: 4px;
}

.rarrow {
    font-size: 13pt;
    position: absolute;
    top: 6px;
    right: 4px;
}



.topnav {
    overflow: hidden;
    /*            color: #333;  */
    background-color:  #FFAA00;  /* Dark Parchment yellow */
}

.topnav a {
    float: left;
    display: block;
    /*            color: #f2f2f2; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    background-color:  #FFAA00;  /* Dark Parchment yellow */
/*    background-color: #664200; */
    color: #ffd980;  /* Light yellow */
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    /*            color: white; */
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin-left: 10px;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFAA00; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    /*            color: black; */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-left: 10px;
}

topnav a:hover, .dropdown:hover .dropbtn {
/*                     background-color: #996600;; */ /* Hovering over the dropdown menu */
            background-color: #555;
                     color: white; 
                 }


.dropdown-content a:hover {
                background-color: #ddd; 
    /*            color: black; */
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}
.darrow {
    font-size: 11pt;
    position: absolute;
    top: 5px;
    right: 4px;
}

.rarrow {
    font-size: 13pt;
    position: absolute;
    top: 6px;
    right: 4px;
}

</style>
